#sq,#lg-sq,#thumb,#small,#mid,#ori {
width: 100%
}

.title {
  /* font-family: Gill Sans Extrabold, sans-serif; */
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.animal-btn {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border-color: #9B59B6;
  background-color: #AF7AC5;
  color: #FFFFFF;
  font-family: Gill Sans Extrabold, sans-serif;
}

.animal-btn:hover {
  background: #633974;
}

.second-title {
  margin-top: 100px;
}

.fetch-btn {
  height: 40px;
  margin-top: 30px;
  background-color: #AF7AC5 ;
  color: #FFFFFF;
  border-radius: 10px;

}
.fetch-btn:hover {
  background-color: #633974;
}
